header {
    /* background-image: url("assets/black_texture.jpg"); */
    background-image: url("https://user-images.githubusercontent.com/63078965/199571877-4b2e3845-9f2b-425f-9910-73c21840595e.jpg");
    background-color: #121212;
    color: #eeeeee;
    margin-bottom: 5vh;
}

body {
    /* background-image: url("assets/gray_texture.jpg"); */
    background-image: url("https://user-images.githubusercontent.com/63078965/199572136-7a92bca1-8e25-4973-817a-d83a3bbecb4e.jpg");
    background-color: #eeeeee;
    color: #121212;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: hack;
    text-align: center;
}

.subtitle, footer {
    font-size: small;
}

p {
    margin-bottom: 0.5vh;
}

a {
    text-decoration: none;
    color: #121212;
}

a:hover {
    color: #707070
}

.list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    margin-top: auto;
    margin-bottom: 2vh;
}
